[submodule "submodules/UIKit"]
	path = submodules/UIKit
	url = https://github.com/idapgroup/UIKit.git
[submodule "submodules/SystemConfigKit"]
	path = submodules/SystemConfigKit
	url = https://github.com/idapgroup/SystemConfigKit.git
[submodule "submodules/QuartzCoreKit"]
	path = submodules/QuartzCoreKit
	url = https://github.com/idapgroup/QuartzCoreKit.git
[submodule "submodules/DataKit"]
	path = submodules/DataKit
	url = https://github.com/idapgroup/DataKit.git
[submodule "submodules/CommonKit"]
	path = submodules/CommonKit
	url = https://github.com/idapgroup/CommonKit.git
